@use "./../variables" as *;

.header {
  position: relative;
  height: 100vh;
}

.header__content {
  position: absolute;
  top: 60px;
  right: 70px;
  left: 70px;
  bottom: 80px;
  pointer-events: none; /* Полностью убираем взаимодейсвие header__content с кликами (будут проходить скозь него) */
  z-index: 1;

  @media (max-width: $screen-xl) {
    top: 40px;
    right: 50px;
    left: 50px;
    bottom: 60px;
  }

  @media (max-width: $screen-md) {
    top: 30px;
    right: 5%;
    left: 5%;
    bottom: 30px;
  }
}
