@use "./variables" as *;

@mixin slide-background($img) {
  background: $slide-radial-gradient, $slide-linear-gradient, url($img);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@mixin title-background($color) {
  background: linear-gradient(
      47.06deg,
      $color -3.87%,
      rgba(255, 255, 255, 0) 20.89%
    ),
    #ffffff;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
